<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your password</title>
    <style>
      html {
        font-family: Arial, Helvetica, sans-serif;
      }
      .title {
        text-transform: capitalize;
        font-size: 1.3rem;
      }
      .btn {
        color: white;
        background-color: rgb(71, 90, 255);
        text-decoration: none;
        display: inline-block;
        border-radius: 0.2em;
        padding: 0.6em 1em;
        text-align: center;
        text-transform: center;
        font-size: 1.2rem;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <div class="">
      <h2 class="Title">Welcome <%= userName %></h2>
      <h3>Please use this link below to reset your password</h3>
      <a href="<%= url %>" class="btn">Reset Password</a>
      <p>or copy this url and paste it directly in your browser</p>
      <a class="url" href="<%= url %>"><%= url %></a>
    </div>
  </body>
</html>
